<h1 align='center'>Welcome to Garage App</h1>
<h3>Login Succesful</h3>
<ul class="nav nav-pills">
  <li role="presentation" class="active"><%= link_to 'Create New User', new_customer_path%></li>
  <li role="presentation" class="active"><%= link_to 'Create New Vehcile', new_vehicle_path%></li>
  <li role="presentation" class="active"><a href="#">Messages</a></li>
</ul>



