<h1>Showing Selected Article</h1>

<p>Customer Name    : <%= @customer.cust_Name %></p>
<p>Customer Address : <%= @customer.cust_Add %></p>
<p>Customer Mobile  : <%= @customer.cust_mobile %></p>
<p>Customer Email   : <%= @customer.cust_email %></p>