<h1>Showing Selected Vehicle Details</h1>

<p>Customer Name    : <%= @vehicle.customer_id %></p>
<p>Vehicle  Number  : <%= @vehicle.vehicle_no %></p>
<p>Model Details    : <%= @vehicle.Model_name %></p>
